*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    text-align: center;
    background: #ccc;
    color: #000;
}
header h3{
        line-height: 50px;
        font-size: 20px;
}
.container{
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.box{
    height: 120px;
    width: 120px;
    border: 1px solid #ccc;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
}
form{
    display: flex;
    justify-content: center;
}
input[type="text"]{
    padding: 7px;
    border: 1px solid #ccc;
}
input[type="text"]:active,input[type="text"]:focus-visible,input[type="text"]:focus{
    border: 1px solid blue;
    outline: none;
}
input[type="submit"]{
    background-color: #ccc;
    padding: 5px;
    min-width: 120px;
    text-align: center;
    line-height: 1;
    border: 1px solid #000;
    cursor: pointer;
}
.red{
    background-color:red;
    color: #fff;
}
.green{
    background-color:green;
    color: #fff;
}
.blue{
    background-color:blue;
    color: #fff;
}
.yellow{
    background-color: yellow;
}